@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Sora", serif;
  background: #eeeeee;
  padding-top: 30px;
}

li .active {
  background-color: transparent !important;
  text-decoration: underline;
}