@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body{
  font-family: "Sora", serif;
  background: #eeeeee;
  padding-top: 30px;
}
li .active {
  background-color: transparent !important;
  text-decoration: underline;
} 

#cart-wishlist .active{
  background-color: white;
  color: #9538E2;
}
#category-item .active{
  background-color: #9538E2;
  color: white;
}